.main {
  display: grid;
  grid-template-columns: 90vw;
  grid-template-rows: 408px;
  gap: 22px;
  padding: 92px 0 45px;
  justify-content: center;
  background-color: #E5E5E5;
}

/* 768px */
@media screen and (min-width: 768px) {
  .main {
    grid-template-columns: 310px 390px;
  }
}


/* 1024px */
@media screen and (min-width: 1024px) {
  .main {
    grid-template-columns: 300px 604px;
    gap: 24px 22px;
  }
}

/* 1440px */
@media screen and (min-width: 1440px) {
  .main {
    grid-template-columns: 360px 664px;
    gap: 26px 24px;
  }
}
