.form {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 409px;
  height: 382px;
  border-radius: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin: 31px auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #424242;
}

.inputName {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #424242;
}

.inputName:last-of-type {
  padding-top: 21px;
}

.input {
  position: relative;
  width: 339px;
  height: 46px;
  border: 1px solid #C9CACC;
  border-radius: 4px;
}

.error {
  position: absolute;
  bottom: -18px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #EB1717;
  height: 14px;
}

.errorColor {
  color: #EB1717;
}

.button {
  width: 345px;
  height: 50px;
  background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
  border: 0;
  border-radius: 4px;
  margin: 31px auto;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.button:hover {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
}

.button:active {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
}
