.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  padding: 0 35px;
  height: 92px;
  background-color: #E5E5E5;
  z-index: 1;
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  color: #424242;
}

.button {
  width: 120px;
  border: 0;
  background-image: url(../../images/exit.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #41522E;
}

/* 768px */
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
}
