.favorite {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 296px;
  height: 408px;
  padding: 32px;
  background-color: #fff;
  border-radius: 16px;
  order: 3;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #424242;
  margin: 0;
}

.buttons {
  display: grid;
  grid-template-columns: 89px 71px;
  gap: 8px;
  margin: 32px 0;
}

.sort {
  height: 28px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  background: transparent;
  color: #99A0A3;
  background-image: url(../../images/sort.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 27px;
  font-size: 14px;
  cursor: pointer;
}

.activeSort {
  background-position: right 5px center;
  border: 1px solid #41522E;
  color: #41522E;
}

.downSort {
  background-image: url(../../images/down-active.png);
}

.upSort {
  background-image: url(../../images/up-active.png);
}

.favScroll {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.favScroll::-webkit-scrollbar {
  display: none;
}
